version: '3'

services:
  master:
    image: locustio/locust
    ports:
      - "8089:8089"
    volumes:
      - ./:/opt/locust
    command: -f /opt/locust/locustfile.py --master -H http://master:8089

  worker:
    image: locustio/locust
    volumes:
      - ./:/opt/locust
    command: -f /opt/locust/locustfile.py --worker --master-host master
